{% extends 'mTodo/base.html' %}
{% block content %}

    <div>
        <td><a href="{% url 'addTodo' %}" class="btn btn-primary">New Todo</a></td>

    </div>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        {% for todo in todos %}
            <tbody>
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.created_on }}</td>
                <td><a href="{% url 'updateTodo' todo.id %}" class="btn btn-success">Update</a></td>
                <td><a href="{% url 'deleteTodo' todo.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}